<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carambar Jokes Factory</title>
</head>
<body>
    <h1>Carambar Jokes Factory</h1>
    <button
        class="getJoke-btn"
        id="getJoke-btn"
        type="button"
        onclick="getJoke()"
    >
        Get Joke
    </button>
    <p>Joke will appear in the console</p>
    <br>
        Hello Carambar Jokes API !</br>
        documentation: 'https://api-carambarjokes.onrender.com/api.carambarJokes/v1.0.0/api-docs',</br>
        github: 'https://github.com/stefbar/api.carambarJokes',</br>
        deployed: 'https://api-carambarjokes.onrender.com/api.carambarJokes/v1.0.0',</br>
        version: '1.0.0',</br>
        description: 'Basic CRUD API { Node / Express / Sequelize / SQLite } documented with Swagger',</br>
        contact: {
            name: 'NDE',
            url: 'https://nde-portfolio.vercel.app/',
            email: 'stef.barucq@gmail.com'
        },</br>
        features: [
            'Have a look on the [Carambar_Jokes_Factory](https://stefbar.github.io/carambarFront/)',
            'Free to use'
        ],</br>
        techStack: [
            'Node.js',
            'Express.js',
            'Sequelize',
            'SQLite'
        ],</br>
        allJokes: 'http://localhost:3000/api.carambarJokes/v1.0.0/jokes',</br>
        randomJoke: 'https://api-carambarjokes.onrender.com/api.carambarJokes/v1.0.0/random-joke/:randomId'</br>

    </p>

    <script>
        function getJoke() {
            const randomJoke = fetch("https://api-carambarjokes.onrender.com/api.carambarJokes/v1.0.0/random-joke/:randomId")
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                })
        }
    </script>
</body>
</html>