<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carambar Jokes Factory</title>
</head>
<body>
    <h1>Carambar Jokes Factory</h1>
    <button
        class="getJoke-btn"
        id="getJoke-btn"
        type="button"
        onclick="getJoke()"
    >
        Get Joke
    </button>
    <p>Joke will appear in the console</p>
    <p>Hello Carambar Jokes API !</p>

    <script>
        function getJoke() {
            const randomJoke = fetch("https://api-carambarjokes.onrender.com/api.carambarJokes/v1.0.0/random-joke/:randomId")
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                })
        }
    </script>
</body>
</html>